body {
  background-color: whitesmoke;
  background-image: url(Gambar/wallpaperflare.com_wallpaper\ \(11\).jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}